version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: backend
    ports:
      - "4242:4242"

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    ports:
      - "4241:4241"
    depends_on:
      - backend